@import url(fonts/stylesheet.css);

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #202124;
}

body, input, button {
    font-family: "Arial", sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
}

.navbar {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.navbar ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
}

.navbar ul li {
    margin-left: 14px;
}

.navbar ul li a {
    color: white;
}

.top-left-nav {
    position: absolute;
    left: 0px;
    display: flex;
}

.about, .store {
    color: #bdc1c6 !important;
    margin-left: 7px !important;
}

.about:hover {
    text-decoration: underline;
}

.store:hover {
    text-decoration: underline;
}

.link {
    font-family: "Google Sans", sans-serif;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.circle-shadow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#user {
    margin-left: 0;
}


.menu-icon, .user-icon span {
    font-size: 19px;
}

.user-icon span {
    color: white;
}

.user-icon {
    background-color: cadetblue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}


/* content */

.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.logo-img {
    width: 270px;
    margin-bottom: 28px;
}

.search-bar {
    border: 1px solid #9aa0a6;
    width: 570px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.search-bar:hover {
    box-shadow: 0px 0px 4px 0px #BDBDBD;
}

.search-bar i {
    font-size: 18px;
    color: #9aa0a6;
    margin-right: 15px;
    cursor: pointer;
}

.fa-magnifying-glass {
    font-size: 14px !important;
}

.fa-microphone, .fa-camera {
    font-size: 17px !important;
}

.fa-camera {
    margin-left: 5px !important;
}

.search-bar, input {
    flex-grow: 1;
    height: 48px;
    margin-right: 15px;
    font-size: 16px;
}

input {
    color: white;
    height: auto;
    border: none;
    background-color: rgba(32, 33, 36, 0.1);
}

input:focus {
    border: none;
    outline: none;
}

.search-btns {
    margin-top: 30px;
}

.search-btns, button {
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
}

button {
    background-color: #303134;
}

.lucky-search-btn:hover {
    border: 1px solid #91979D; 
}

.google-search-btn:hover {
    border: 1px solid #9aa0a6; 
}

.google-search-btn {
    width: 120px;
    height: 37px;
    margin-right: 10px;
    border: 1px solid #303134;
}

.lucky-search-btn {
    width: 140px;
    height: 37px;
    border: 1px solid #303134;
}

.language {
    margin-top: 20px;
    font-size: 14px;
    color: #bdc1c6;
}

 .eng {
    color: #8ab4f8;
}

.language p a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    background-color: #171717;
    height: 100px;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.upper-footer {
    height: 50%;
    border-bottom: 1px solid #3c4043;
}

.upper-footer p {
    color: #9aa0a6;
    font-size: 14px;
}

.lower-footer {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.lower-footer ul li a {
    font-size: 14px;
    color: #9aa0a6;
}

.lower-footer ul li a:hover{
    text-decoration: underline;
}


.lower-left-footer {
    display: flex;
}

.lower-left-footer li {
    margin-right: 15px;
}

.lower-right-footer {
    display: flex;
}

.lower-right-footer li {
    margin-left: 15px;
}


/* Media Queries */

@media only screen and (max-width: 650px) {
    .search-bar {
        width: 90%;
    }

    footer {
        height: 150px;
    }

    .upper-footer {
        height: 50px;
    }

    .lower-footer {
        height: 100px;
        flex-direction: column;
    }
}


